<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E.E Compumicro</title>
    <!--estilizando con bootstrap -->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/fonts/all.min.css">
    <link rel="stylesheet" href="../public/fonts/font-awesome-animation.min.css">
    
</head>
<body>
    

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-info">
            <a class="navbar-brand" href="egresos.html"><i class="fas fa-lg fa-server  faa-flash animated"></i>  </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
         
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Principal <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="egresos.html">Egresos</a>
                <a class="nav-item nav-link disabled" href="#">Ensambles</a>
                
                </div>
            </div>
</nav>
    <div class="container mt-5 pt-3">
        
        <div class="row">

            <!--formulario-->
            <div class="col-md-12">
                  
                <div class="card border-info">
                    <div class="card-header text-center bg-info text-white">
                        <h3 class="font-weight-light text-uppercase">Formulario de Actividades</h3>
                     </div>
                    
                    <div class="card-body">
                        <form action="/add" method="POST" class="was-validated" >
                            <div class="form-row">
                                <div class="form-group col-md-2 my-2 ">
                                    <label for="" class="font-italic">Fecha</label>
                                    <input type="date" name="fechaACT" value="" placeholder="ingrese fecha actual" class="form-control" required>
                                </div>
                               

                                <div class="col-md-2 my-2">
                                <label for="selectTienda" class="font-italic">Tienda</label>
                                <select class="custom-select" id="selectTienda" required>
                                    <option value="">Tienda</option>
                                    <option value="1">Mejia</option>
                                    <option value="2">Machala</option>
                                    <option value="3">Manta</option>
                                    <option value="4">Porto Viejo</option>
                                    <option value="5">Babahoyo</option>
                                    <option value="6">Playas</option>
                                    <option value="7">Loja</option>
                                    <option value="8">Duran</option>
                                    <option value="9">Bahia de C</option>
                                    <option value="10">Daule</option>
                                    <option value="11">Peninsula</option>
                                    <option value="12">El Dorado</option>
                                </select>
                                </div>
                                <div class="form-group col-md-1 my-2">
                                    <label for="" class="font-italic">Caso</label>
                                    <input type="text" name="ncaso" value="" placeholder="N°" class="form-control" required>
                                </div>
                                <div class="form-group col-md-7 my-2">
                                    <label for="" class="font-italic">Reporte/Daño</label>
                                    <input type="text" name="reporte" value="" placeholder="Ingrese daño del producto" class="form-control" required>
                                </div>
                            </div>
                            <div class="form-row">
                                    <div class="form-group col-md-2">
                                         <label for="" class="font-italic" >Hora-Inicio</label>
                                         <input type="time" name="hinicio" value="hrs:mins" placeholder="ingrese hora de inicio" class="form-control" required>
                                    </div>
                                    <div class="form-group col-md-2">
                                         <label for="" class="font-italic">Hora-Fin</label>
                                         <input type="time" name="hfin" value="" placeholder="Ingrese hora de fin" class="form-control"required>
                                    </div>
                                    <div class="form-group col-md-8">
                                        <label for="" class="font-italic">Actividad Realizada</label>
                                        <textarea name="desc_act" id="" cols="63" placeholder="Ingrese descripcion de la actividad realizada" required></textarea>
                                    </div>
                                    
                            </div>
                            
                                        <button type="submit" class="btn btn-outline-info">Agregar</button>
                                   
                        </form> 
                    </div>
                </div>
            </div>  
            </div>

    </div>
            <!-- listar elementos-->
                <hr>
    <div class="container">
        <h2 class="text-center">Actividades Diarias</h2>
            <div class="row">
                

                <table class="table table-bordered table-hover d-inline">
                    <thead>
                        <th>N°</th>
                        <th>Fecha</th>
                        <th>Tienda</th>
                        <th>N°Caso</th>
                        <th>Reporte</th>
                        <th>Hora I</th>
                        <th>Hora F</th>
                        <th>Descripcion</th>
                    </thead>
                    <tbody>
                        <% for(var i=0;i<actividades.length;i++) {%>
                            <tr>
                                <td><%= i+1%></td>
                                <td><%= actividades[i].fechaACT %></td>
                                <td><%= actividades[i].tienda %></td>
                                 <td><%= actividades[i].ncaso %></td>
                                <td><%= actividades[i].reporte %></td>
                                <td><%= actividades[i].hinicio %></td>
                                <td><%= actividades[i].hfin %></td>
                                <td><%= actividades[i].desc_act %></td>
                                <td>
                                    <a href="/turn/<%= actividades[i]._id %>" class="btn <%= actividades[i].status? 'btn-success':'btn-dark'%>">L</a>
                                    <a href="/delete/<%= actividades[i]._id %>" class="btn btn-danger">X</a>
                                    <a href="/editar/<%= actividades[i]._id %>" class="btn btn-info">A</a>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
            
        


