<!DOCTYPE html>
<html lang="en" style="scroll-behavior: smooth;">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Etiquetas de Serie Desktop</title>
        <!--estilizando con bootstrap -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="fonts/fontawesome.min.css">
        <link rel="stylesheet" href="fonts/miestilo.css">
</head>

<div class="row">
    <div class="col-md-5 " id="t1">
            <div class="card border-warning m-1">
                    <div class="card-header alert-warning p-0 border-warning">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="text-center m-0 p-0">Majestic PC</div> 
                            </div>
                            <div class="col-md-5 offset-1">
                                <label for="" class="m-0 p-0">SERIE: <span class="generada">No cargada</span></label>
                            </div>
                            
                        </div>
                    </div>
                    <div class="card-body m-0 p-0 ">
                            <table class="table table-bordered table-sm m-0 p-0">
                                    <thead class="thead-dark p-0 m-0" >
                                      <th  width="40px" class="p-0 m-0" ><small>PRODUCTO</small></th>
                                      <th  width="110px" class="p-0 m-0"><small>MODELO/S</small></th>
                                      <th  width="170px" class="p-0 m-0" ><small >SERIE/S</small></th>
                                    </th>
                                  
                                    <tr>
                                        <td class="p-0 m-0" ><small>MAINBOARD</small></td><td class="p-0 m-0 "><small class="mainbdesc1 text-uppercase"></small></td><td class="p-0 m-0"><small class="mainbser1 text-uppercase"></small></td>
                                    </tr>
                                    <tr>
                                        <td class="p-0 m-0" ><small>PROCESADOR</small></td><td class="p-0 m-0"><small class="procdesc1 text-uppercase"></small></td><td class="p-0 m-0"><small class="procser1 text-uppercase"></small></td>
                                    <tr>
                                        <td class="p-0 m-0" ><small>M.RAM</small></td><td class="p-0 m-0"><small class="mramdesc1 text-uppercase"></small></td><td class="p-0 m-0"><small class="mramser1 text-uppercase"></small></td>
                                    </tr>
                                    <tr>
                                        <td class="p-0 m-0" ><small>HDD</small></td><td class="p-0 m-0"><small class="hdddesc1 text-uppercase"></small></td><td class="p-0 m-0"><small class="hddser1 text-uppercase"></small></td>
                                    </tr>
                                    <tr>
                                        <td class="p-0 m-0" ><small>UDVD</small></td><td class="p-0 m-0"><small class="udvddesc1 text-uppercase"></small></td><td class="p-0 m-0"><small class="udvdser1 text-uppercase"></small></td>
                                    </tr>
                                    <tr>
                                        <td class="p-0 m-0"  ><small>CASE</small></td><td class="p-0 m-0"><small class="casedesc1 text-uppercase"></small></td>
                                    </tr>
                                    
                                   
                                  </table>

                    </div>

                </div>
                <div class="card border-info m-1">
                        <div class="card-header alert-info p-0 border-info">
    
                                <div class="row">
                                        <div class="col-md-4">
                                            <div class="text-center m-0 p-0">Majestic PC</div> 
                                        </div>
                                        <div class="col-md-5 offset-1">
                                            <label for="" class="m-0 p-0">SERIE: <span class="generada">No cargada</span></label>
                                        </div>
                                        
                                    </div>
                        </div>
                        <div class="card-body m-0 p-0 ">
                                <table class="table table-bordered table-sm m-0 p-0">
                                        <thead class="thead-dark p-0">
                                                <th  width="40px" class="p-0 m-0" ><small>PRODUCTO</small></th>
                                                <th  width="110px" class="p-0 m-0"><small>MODELO/S</small></th>
                                                <th  width="170px" class="p-0 m-0" ><small >SERIE/S</small></th>
                                        </th>
                                      
                                        <tr>
                                                <td class="p-0 m-0"><small>MAINBOARD</small></td><td class="p-0 m-0 "><small class="mainbdesc1 text-uppercase"></small></td><td class="p-0 m-0"><small class="mainbser1 text-uppercase"></small></td>
                                            </tr>
                                            <tr>
                                                <td class="p-0 m-0"><small>PROCESADOR</small></td><td class="p-0 m-0"><small class="procdesc1 text-uppercase"></small></td><td class="p-0 m-0"><small class="procser1 text-uppercase"></small></td>
                                            <tr>
                                                <td class="p-0 m-0"><small>M.RAM</small></td><td class="p-0 m-0"><small class="mramdesc1 text-uppercase"></small></td><td class="p-0 m-0"><small class="mramser1 text-uppercase"></small></td>
                                            </tr>
                                            <tr>
                                                <td class="p-0 m-0"><small>HDD</small></td><td class="p-0 m-0"><small class="hdddesc1 text-uppercase"></small></td><td class="p-0 m-0"><small class="hddser1 text-uppercase"></small></td>
                                            </tr>
                                            <tr>
                                                <td class="p-0 m-0"><small>UDVD</small></td><td class="p-0 m-0"><small class="udvddesc1 text-uppercase"></small></td><td class="p-0 m-0"><small class="udvdser1 text-uppercase"></small></td>
                                            </tr>
                                            <tr>
                                                <td class="p-0 m-0" ><small>CASE</small></td><td class="p-0 m-0"><small class="casedesc1 text-uppercase"></small></td>
                                            </tr>
                                        
                                       
                                      </table>
    
                        </div>
    
                    </div>
                    <div class="card border-success m-1">
                            <div class="card-header alert-success p-0 border-success">
        
                                    <div class="row">
                                            <div class="col-md-4">
                                                <div class="text-center m-0 p-0">Majestic PC</div> 
                                            </div>
                                            <div class="col-md-5 offset-1">
                                                <label for="" class="m-0 p-0">Serie: <span class="generada">No cargada</span></label>
                                            </div>
                                            
                                        </div>
                            </div>
                            <div class="card-body m-0 p-0 ">
                                    <table class="table table-bordered table-sm m-0 p-0">
                                            <thead class="thead-dark p-0 m-0">
                                                    <th  width="40px" class="p-0 m-0" ><small>PRODUCTO</small></th>
                                                    <th  width="110px" class="p-0 m-0"><small>MODELO/S</small></th>
                                                    <th  width="170px" class="p-0 m-0" ><small >SERIE/S</small></th>
                                            </th>
                                          
                                            <tr>
                                                    <td class="p-0 m-0"><small>MAINBOARD</small></td><td class="p-0 m-0 "><small class="mainbdesc1 text-uppercase"></small></td><td class="p-0 m-0"><small class="mainbser1 text-uppercase"></small></td>
                                                </tr>
                                                <tr>
                                                    <td class="p-0 m-0"><small>PROCESADOR</small></td><td class="p-0 m-0"><small class="procdesc1 text-uppercase"></small></td><td class="p-0 m-0"><small class="procser1 text-uppercase"></small></td>
                                                <tr>
                                                    <td class="p-0 m-0"><small>M.RAM</small></td><td class="p-0 m-0"><small class="mramdesc1 text-uppercase"></small></td><td class="p-0 m-0"><small class="mramser1 text-uppercase"></small></td>
                                                </tr>
                                                <tr>
                                                    <td class="p-0 m-0"><small>HDD</small></td><td class="p-0 m-0"><small class="hdddesc1 text-uppercase"></small></td><td class="p-0 m-0"><small class="hddser1 text-uppercase"></small></td>
                                                </tr>
                                                <tr>
                                                    <td class="p-0 m-0"><small>UDVD</small></td><td class="p-0 m-0"><small class="udvddesc1 text-uppercase"></small></td><td class="p-0 m-0"><small class="udvdser1 text-uppercase"></small></td>
                                                </tr>
                                                <tr>
                                                    <td class="p-0 m-0" ><small>CASE</small></td><td class="p-0 m-0"><small class="casedesc1 text-uppercase"></small></td>
                                                </tr>
                                            
                                           
                                          </table>
        
                            </div>
        
                        </div>
                        
                        <div class="card border-danger m-1">
                                <div class="card-header alert-danger p-0 border-danger">
            
                                        <div class="row">
                                                <div class="col-md-4">
                                                    <div class="text-center m-0 p-0">Majestic PC</div> 
                                                </div>
                                                <div class="col-md-5 offset-1">
                                                    <label for="" class="m-0 p-0">Serie: <span class="generada">No cargada</span></label>
                                                </div>
                                                
                                            </div>
                                </div>
                                <div class="card-body m-0 p-0 ">
                                        <table class="table table-bordered table-sm m-0 p-0">
                                                <thead class="thead-dark p-0">
                                                        <th  width="40px" class="p-0 m-0" ><small>PRODUCTO</small></th>
                                                        <th  width="110px" class="p-0 m-0"><small>MODELO/S</small></th>
                                                        <th  width="170px" class="p-0 m-0" ><small >SERIE/S</small></th>
                                                </th>
                                              
                                                <tr>
                                                        <td class="p-0 m-0"><small>MAINBOARD</small></td><td class="p-0 m-0 "><small class="mainbdesc1 text-uppercase"></small></td><td class="p-0 m-0"><small class="mainbser1 text-uppercase"></small></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="p-0 m-0"><small>PROCESADOR</small></td><td class="p-0 m-0"><small class="procdesc1 text-uppercase"></small></td><td class="p-0 m-0"><small class="procser1 text-uppercase"></small></td>
                                                    <tr>
                                                        <td class="p-0 m-0"><small>M.RAM</small></td><td class="p-0 m-0"><small class="mramdesc1 text-uppercase"></small></td><td class="p-0 m-0"><small class= text-uppercase"mramser1"></small></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="p-0 m-0"><small>HDD</small></td><td class="p-0 m-0"><small class="hdddesc1 text-uppercase"></small></td><td class="p-0 m-0"><small class="hddser1 text-uppercase"></small></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="p-0 m-0"><small>UDVD</small></td><td class="p-0 m-0"><small class="udvddesc1 text-uppercase"></small></td><td class="p-0 m-0"><small class="udvdser1 text-uppercase"></small></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="p-0 m-0" ><small>CASE</small></td><td class="p-0 m-0"><small class="casedesc1 text-uppercase"></small></td>
                                                    </tr>
                                                
                                               
                                              </table>
            
                                </div>
            
                            </div>
    </div>

    <!-- medio-------------------------------------------------------------------- -->
        <div class="col-md-2 m-0 p-0">
            
                        <div class="row">
                            <div class="col-md-6">
                            <label for="">serie #1</label>
                            <input type="text" name="serie" id="inputserie" class="form-control form-control-sm  " placeholder="<- tarjeta 1"> 
                            
                             <button id="consulta" class="btn btn-danger my-2">Cargar</button>
                            </div>
                            <div class="col-md-6">
                                    <label for="">serie #2</label>
                                    <input type="text" name="serie" id="inputserie2" class="form-control form-control-sm m-0 " placeholder="tarjeta 2 ->"> 
                                    
                                    <button id="consulta2" class="btn btn-danger my-2">Cargar</button>
                                </div>
                                <div class="col-md-6 offset-2">
                                        <button id="imprime" class="btn btn-info my-2 btn-sm">solo primera</button>
                                    </div>
                            </div>
                    
        </div>
   <!-- medio-------------------------------------------------------------------- -->
        <div class="col-md-5" id="t2">
                <div class="card border-warning m-1">
                        <div class="card-header alert-warning p-0 border-warning">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="text-center m-0 p-0">Majestic PC</div> 
                                </div>
                                <div class="col-md-5 offset-1">
                                    <label for="" class="m-0 p-0">Serie: <span class="generada2">No cargada</span></label>
                                </div>
                                
                            </div>
                        </div>
                        <div class="card-body m-0 p-0 ">
                                <table class="table table-bordered table-sm m-0 p-0">
                                        <thead class="thead-dark p-0 m-0">
                                          <th  width="40px" class="p-0 m-0" ><small>PRODUCTO</small></th>
                                          <th  width="110px" class="p-0 m-0"><small>MODELO/S</small></th>
                                          <th  width="170px" class="p-0 m-0" ><small >SERIE/S</small></th>
                                        </th>
                                      
                                        <tr>
                                            <td class="p-0 m-0"><small>MAINBOARD</small></td><td class="p-0 m-0 "><small class="mainbdesc2 text-uppercase"></small></td><td class="p-0 m-0"><small class="mainbser2 text-uppercase"></small></td>
                                        </tr>
                                        <tr>
                                            <td class="p-0 m-0"><small>PROCESADOR</small></td><td class="p-0 m-0"><small class="procdesc2 text-uppercase"></small></td><td class="p-0 m-0"><small class="procser2 text-uppercase"></small></td>
                                        <tr>
                                            <td class="p-0 m-0"><small>M.RAM</small></td><td class="p-0 m-0"><small class="mramdesc2 text-uppercase"></small></td><td class="p-0 m-0"><small class="mramser2 text-uppercase"></small></td>
                                        </tr>
                                        <tr>
                                            <td class="p-0 m-0"><small>HDD</small></td><td class="p-0 m-0"><small class="hdddesc2 text-uppercase"></small></td><td class="p-0 m-0"><small class="hddser2 text-uppercase"></small></td>
                                        </tr>
                                        <tr>
                                            <td class="p-0 m-0"><small>UDVD</small></td><td class="p-0 m-0"><small class="udvddesc2 text-uppercase"></small></td><td class="p-0 m-0"><small class="udvdser2 text-uppercase"></small></td>
                                        </tr>
                                        <tr>
                                            <td class="p-0 m-0" ><small>CASE</small></td><td class="p-0 m-0"><small class="casedesc2 text-uppercase"></small></td>
                                        </tr>
                                        
                                       
                                      </table>
    
                        </div>
    
                    </div>
                    <div class="card border-info m-1">
                            <div class="card-header alert-info p-0 border-info">
        
                                    <div class="row">
                                            <div class="col-md-4">
                                                <div class="text-center m-0 p-0">Majestic PC</div> 
                                            </div>
                                            <div class="col-md-5 offset-1">
                                                <label for="" class="m-0 p-0">Serie: <span class="generada2">No cargada</span></label>
                                            </div>
                                            
                                        </div>
                            </div>
                            <div class="card-body m-0 p-0 ">
                                    <table class="table table-bordered table-sm m-0 p-0">
                                            <thead class="thead-dark p-0">
                                                    <th  width="40px" class="p-0 m-0" ><small>PRODUCTO</small></th>
                                                    <th  width="110px" class="p-0 m-0"><small>MODELO/S</small></th>
                                                    <th  width="170px" class="p-0 m-0" ><small >SERIE/S</small></th>
                                            </th>
                                          
                                            <tr>
                                                    <td class="p-0 m-0"><small>MAINBOARD</small></td><td class="p-0 m-0 "><small class="mainbdesc2 text-uppercase"></small></td><td class="p-0 m-0"><small class="mainbser2 text-uppercase"></small></td>
                                                </tr>
                                                <tr>
                                                    <td class="p-0 m-0"><small>PROCESADOR</small></td><td class="p-0 m-0"><small class="procdesc2 text-uppercase"></small></td><td class="p-0 m-0"><small class="procser2 text-uppercase"></small></td>
                                                <tr>
                                                    <td class="p-0 m-0"><small>M.RAM</small></td><td class="p-0 m-0"><small class="mramdesc2 text-uppercase"></small></td><td class="p-0 m-0"><small class="mramser2 text-uppercase"></small></td>
                                                </tr>
                                                <tr>
                                                    <td class="p-0 m-0"><small>HDD</small></td><td class="p-0 m-0"><small class="hdddesc2 text-uppercase"></small></td><td class="p-0 m-0"><small class="hddser2 text-uppercase"></small></td>
                                                </tr>
                                                <tr>
                                                    <td class="p-0 m-0"><small>UDVD</small></td><td class="p-0 m-0"><small class="udvddesc2 text-uppercase"></small></td><td class="p-0 m-0"><small class="udvdser2 text-uppercase"></small></td>
                                                </tr>
                                                <tr>
                                                    <td class="p-0 m-0" ><small>CASE</small></td><td class="p-0 m-0"><small class="casedesc2 text-uppercase"></small></td>
                                                </tr>
                                            
                                           
                                          </table>
        
                            </div>
        
                        </div>
                        <div class="card border-success m-1">
                                <div class="card-header alert-success p-0 border-success">
            
                                        <div class="row">
                                                <div class="col-md-4">
                                                    <div class="text-center m-0 p-0">Majestic PC</div> 
                                                </div>
                                                <div class="col-md-5 offset-1">
                                                    <label for="" class="m-0 p-0">Serie: <span class="generada2">No cargada</span></label>
                                                </div>
                                                
                                            </div>
                                </div>
                                <div class="card-body m-0 p-0 ">
                                        <table class="table table-bordered table-sm m-0 p-0">
                                                <thead class="thead-dark p-0 m-0">
                                                        <th  width="40px" class="p-0 m-0" ><small>PRODUCTO</small></th>
                                                        <th  width="110px" class="p-0 m-0"><small>MODELO/S</small></th>
                                                        <th  width="170px" class="p-0 m-0" ><small >SERIE/S</small></th>
                                                </th>
                                              
                                                <tr>
                                                        <td class="p-0 m-0"><small>MAINBOARD</small></td><td class="p-0 m-0 "><small class="mainbdesc2 text-uppercase"></small></td><td class="p-0 m-0"><small class="mainbser2 text-uppercase"></small></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="p-0 m-0"><small>PROCESADOR</small></td><td class="p-0 m-0"><small class="procdesc2 text-uppercase"></small></td><td class="p-0 m-0"><small class="procser2 text-uppercase"></small></td>
                                                    <tr>
                                                        <td class="p-0 m-0"><small>M.RAM</small></td><td class="p-0 m-0"><small class="mramdesc2 text-uppercase"></small></td><td class="p-0 m-0"><small class="mramser2 text-uppercase"></small></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="p-0 m-0"><small>HDD</small></td><td class="p-0 m-0"><small class="hdddesc2 text-uppercase"></small></td><td class="p-0 m-0"><small class="hddser2 text-uppercase"></small></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="p-0 m-0"><small>UDVD</small></td><td class="p-0 m-0"><small class="udvddesc2 text-uppercase"></small></td><td class="p-0 m-0"><small class="udvdser2 text-uppercase"></small></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="p-0 m-0" ><small>CASE</small></td><td class="p-0 m-0"><small class="casedesc2 text-uppercase"></small></td>
                                                    </tr>
                                                
                                               
                                              </table>
            
                                </div>
            
                            </div>
                            
                            <div class="card border-danger m-1">
                                    <div class="card-header alert-danger p-0 border-danger">
                
                                            <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="text-center m-0 p-0">Majestic PC</div> 
                                                    </div>
                                                    <div class="col-md-5 offset-1">
                                                        <label for="" class="m-0 p-0">Serie: <span class="generada2">No cargada</span></label>
                                                    </div>
                                                    
                                                </div>
                                    </div>
                                    <div class="card-body m-0 p-0 ">
                                            <table class="table table-bordered table-sm m-0 p-0">
                                                    <thead class="thead-dark p-0">
                                                            <th  width="40px" class="p-0 m-0" ><small>PRODUCTO</small></th>
                                                            <th  width="110px" class="p-0 m-0"><small>MODELO/S</small></th>
                                                            <th  width="170px" class="p-0 m-0" ><small >SERIE/S</small></th>
                                                    </th>
                                                  
                                                    <tr>
                                                            <td class="p-0 m-0"><small>MAINBOARD</small></td><td class="p-0 m-0 "><small class="mainbdesc2 text-uppercase"></small></td><td class="p-0 m-0"><small class="mainbser2 text-uppercase"></small></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="p-0 m-0"><small>PROCESADOR</small></td><td class="p-0 m-0"><small class="procdesc2 text-uppercase"></small></td><td class="p-0 m-0"><small class="procser2 text-uppercase"></small></td>
                                                        <tr>
                                                            <td class="p-0 m-0"><small>M.RAM</small></td><td class="p-0 m-0"><small class="mramdesc2 text-uppercase"></small></td><td class="p-0 m-0"><small class="mramser2 text-uppercase"></small></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="p-0 m-0"><small>HDD</small></td><td class="p-0 m-0"><small class="hdddesc2 text-uppercase"></small></td><td class="p-0 m-0"><small class="hddser2 text-uppercase"></small></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="p-0 m-0"><small>UDVD</small></td><td class="p-0 m-0"><small class="udvddesc2 text-uppercase"></small></td><td class="p-0 m-0"><small class="udvdser2 text-uppercase"></small></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="p-0 m-0" ><small>CASE</small></td><td class="p-0 m-0"><small class="casedesc2 text-uppercase"></small></td>
                                                        </tr>
                                                    
                                                   
                                                  </table>
                
                                    </div>
                
                                </div>
        </div>
    
</div>


<% include partials/_footer %> 
<script src= "js/printPreview.js"></script>

<script>


$(document).ready(function () {
    $('#imprime').printPreview({
        obj2print:'#t1',    
        
        title:'miguel',
        margin:'0'
         /*optional properties with default values*/
                //obj2print:'body',     /*if not provided full page will be printed*/
                //style:'',             /*if you want to override or add more css assign here e.g: "<style>#masterContent:background:red;</style>"*/
                //width: '670',         /*if width is not provided it will be 670 (default print paper width)*/
                //height:screen.height, /*if not provided its height will be equal to screen height*/
                //top:0,                /*if not provided its top position will be zero*/
                //left:'center',        /*if not provided it will be at center, you can provide any number e.g. 300,120,200*/
                //resizable : 'yes',    /*yes or no default is yes, * do not work in some browsers*/
                //scrollbars:'yes',     /*yes or no default is yes, * do not work in some browsers*/
                //status:'no',          /*yes or no default is yes, * do not work in some browsers*/
                //title:'Print Preview' /*title of print preview popup window*/
    });
    $('#consulta').on('click', function (e) {
        var valor= $('#inputserie').val()
    var url=`/desktops/json/${valor}`;
        e.preventDefault()
        fetch(url, {
        method: 'get' // opcional 
        })
        .then(res => res.json())
            .then(datos =>{ 
                
                if (datos==null) {
                    alert('no hayaste nada')
                }
                console.log(datos)
                $('.generada').html(datos.serieEnsamble.serie);
                $('.mainbdesc1').html(datos.mainboard.descripcion);
                $('.mainbser1').html(datos.mainboard.serie);
                $('.procdesc1').html(datos.procesador.descripcion);
                $('.procser1').html(datos.procesador.serie);
                $('.mramdesc1').html(datos.memoria_ram.descripcion);
                $('.mramser1').html(datos.memoria_ram.serie);
                $('.hdddesc1').html(datos.disco_duro.descripcion);
                $('.hddser1').html(datos.disco_duro.serie);
                $('.udvddesc1').html(datos.udvd.descripcion);
                $('.udvdser1').html(datos.udvd.serie);
                $('.casedesc1').html(datos.case.descripcion);

            })
        .catch(function(err) { 
        console.error(err); 
        });
    });
    $('#consulta2').on('click', function (e) {
        var valor= $('#inputserie2').val()
    var url=`/desktops/json/${valor}`;
        e.preventDefault()
        fetch(url, {
        method: 'get' // opcional 
        })
        .then(res => res.json())
            .then(datos =>{ 
                
                if (datos==null) {
                    alert('no hayaste nada')
                }
                console.log(datos)
                $('.generada2').html(datos.serieEnsamble.serie);
                $('.mainbdesc2').html(datos.mainboard.descripcion);
                $('.mainbser2').html(datos.mainboard.serie);
                $('.procdesc2').html(datos.procesador.descripcion);
                $('.procser2').html(datos.procesador.serie);
                $('.mramdesc2').html(datos.memoria_ram.descripcion);
                $('.mramser2').html(datos.memoria_ram.serie);
                $('.hdddesc2').html(datos.disco_duro.descripcion);
                $('.hddser2').html(datos.disco_duro.serie);
                $('.udvddesc2').html(datos.udvd.descripcion);
                $('.udvdser2').html(datos.udvd.serie);
                $('.casedesc2').html(datos.case.descripcion);

            })
        .catch(function(err) { 
        console.error(err); 
        });
    });
    
});


</script>